<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    
    <link   rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link   rel="stylesheet" href="/main.css">
    <title>Blog App</title>
</head>

<nav>
    <div class="ui fixed basic menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Web Development Blog</div>
            <a href="/" class="item">home</a>
            <a href="/blog" class="item">see all posts</a>
            <a href="/blog/new" class="item">create new post</a>
        </div>
    </div>
</nav>
<body>