<% include modules/_header %>

<div class="ui container main text segment">
    <h1>Welcome to the blog app!</h1> 
    <h2>The place to be for all your blogging activity</h2>   
    <a class="ui button classic green big" href="/register">sign-up</a>
    <a class="ui button classic blue big" href="/login">login</a>
    <a class="ui button classic red big" href="/logout">logout</a>
</div>

<% include modules/_footer %>
